* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.dsiblue{
    background-color: #11417D;
}
.dsigreen{
    background-color: #47A18B;
}
.dsiorange{
    background-color: #FD8A69;
}
.dsigrey{
    background-color: #989999;
}

/********************************************************************************************************
**************************************** HEADER *********************************************************
********************************************************************************************************/

a{
    text-decoration: none;
}
p{
    font-size: small;
}

.logo{
    padding-left: 10px;
}

.logo a{
    color: #fafafa;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5em;
}

.logo a span{
    color: #f6c45C;
    font-size: 1.6em;
}

.navbar{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background: #D2DBE2;
    /* mix-blend-mode: exclusion; */
}

.desktop, .mobile{
    padding: 20px;
}

nav ul li{
    display: inline;
    margin-left: 20px;
}
nav ul li a{
    color: black;
}

h1{
    color: white;
    text-align: center;
}

h1 span:nth-child(1){
    color: #3dc1cd;
}
h1 span:nth-child(2){
    color: #f69536;
}

header p{
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    line-height: 150%;

}.mobile{
    display: none;
}

.boxHeader{
    margin: auto;
    padding-top: 100px;
    color: white;
    min-width: 280px;
    max-width: 670px;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.burger {
    margin-top: 10px;
    display: none;
}

#checkBurger, .menuBurger {
    visibility: hidden;
}

.menuBurger {
    margin-top: 15px;
    position: absolute;
}
.menuBurger ul li {
    list-style-type: none;
}
.menuBurger ul li a{
    color: black;
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile, .burger {
        /* visibility: visible; */
        display: block;
    }
    .burger{
        background: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    .mobile div:last-child{
        background: rgba(255, 255, 255, 0.8);
    }
    .mobile input:checked ~ .menuBurger{
        /* height: auto; */
        visibility: visible;
        /* display: none; */
        /* justify-content: flex-end;
        align-items: flex-end; */
    }
}

/********************************************************************************************************
**************************************** BANNIERE *********************************************************
********************************************************************************************************/
.banniere{
    background: linear-gradient(#11417D, #11427D5D);
    padding-bottom: 50px;
}
.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}
#textLeft{
    width:40%;
}
#textLeft h1{
    font-size: 64px;
    font-family: 'Audiowide', sans-serif;
}
#textLeft p{
    font-size: 29px;
    color: white
}
#textLeft span{
    color: #FD8A69;
}
.presentation #imageRight {
    width:50%;
}
#imageRight img {
    width:100%;
}

/********************************************************************************************************
**************************************** CARTES *********************************************************
********************************************************************************************************/
.sectionCard{
    background-color: #D1D6DA;
    padding-top: 50px;
    padding-bottom: 50px;
}
.allcards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 18%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #989999;;
}
.titleCenter{
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 60px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleCenter h2{
    font-family: 'Audiowide', sans-serif;
}

/********************************************************************************************************
**************************************** CHARTS *********************************************************
********************************************************************************************************/
.charts{
    background-color: #D1D6DA;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.charts img{
    width: 90%;
}

/********************************************************************************************************
**************************************** FOOTER *********************************************************
********************************************************************************************************/

footer{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#11427D5D, #11417D);
    color: white;
}
#verticalBar{
    height: 200px;
    border-right: 3px solid white;
}
#contact {
    width: 40%;
    padding: 20px;
    margin: auto;
    font-size: 28px;
}
.adresse p{
    font-size: 28px;
}
#contact a{
    color: white;
    text-decoration: underline;
}
footer #contact h3{
    text-decoration: underline;
}
.adresse{
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.allicon{
    display: flex;
}
.allicon div{
    margin: auto;
    margin: 10px;
}
.social{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    color: black;
}
#formulaire{
    width: 40%;
    padding: 20px;
    margin: auto;
    background: linear-gradient(#4a88d4, #11417D);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #456a98;
}
.champ {
    height: 30px;
    width: 100%;
    border-radius: 5px;
}
.btnSend{
    height: 50px;
    width: 100%;
    background-color: #FD8A69;
    border: 1px solid white;
    border-radius: 5px;
}